@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

/* Navigation Bar */

#topNavBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    min-width: 100%;
    height: 6rem;
    background: #585858;
    position: sticky;
    top: 0;
}

#topNavBar h1{
    font-size: 3rem;
    margin-left: 2rem;
}

#topNavBar h1 span{
    color: #5E9947;
}

#topNavBar ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
}

#topNavBar ul li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.6rem;
    border-radius: 1rem;
}

#topNavBar ul li a:hover{
    background: #5E9947;
}




/* Showcase section */
#topBigShowcase{
    background: url('./image_resources/showcase.jpg');
    width: 100vw;
    height: calc(100vh - 6rem);
    max-width: 100%;
}

#topBigShowcaseBlackBackground{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#topBigShowcaseBlackBackground h2{
    font-size: 5rem;
}

#topBigShowcaseBlackBackground p{
    font-size: 2rem;
    margin-top: 2rem;
}

#topBigShowcaseBlackBackground a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.75rem 3rem;
    margin-top: 3rem;
    background: #5E9947;
    border-radius: 0.5rem;
}






/* What We Do section */

#whatWeDo{
    width: 100vw;
    max-width: 100%;
    min-height: 10vw;
    color: black;
    text-align: center;
}

#whatWeDo h2{
    font-size: 2.5rem;
    margin-top: 1.5rem;
}

#whatWeDo h2 span{
    color: #5E9947;
}

.whatWeDo-boxes-left-round{
    background: #5E9947;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}

#whatWeDo-containerForBoxes{
    display: flex;
    width: 70vw;
    margin: auto;
    margin-top: 2rem;
}

.whatWeDo-boxes{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

.whatWeDo-boxes-left{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 1.5rem;
}

.whatWeDo-boxes-left-round{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.whatWeDo-boxes-right h2{
    font-size: 1.5rem !important;
    margin-bottom: 1rem;
}

.whatWeDo-boxes-right{
    font-size: 1.2rem;
    text-align: justify;
}



/* Who we are section */

#whoWeAre{
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}

#whoWeAre-leftImage{
    background: url('./image_resources/people.jpg') center center/cover no-repeat;
    flex: 1;
    width: 50vw;
    min-height: 40vh;
}

#whoWeAre-right{
    flex: 1;
    width: 50vw;
    min-height: 40vh;
    background: #585858;
    padding: 3rem;
}

#whoWeAre-right ul{
    list-style: none;
}

#whoWeAre-right ul li{
    margin-top: 1rem;
}

#whoWeAre-right ul li h2{
    font-size: 1.6rem;
}

#whoWeAre h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#whoWeAre h2 span{
    color: #5E9947;
}




/* Our Clients */
#ourClients{
    text-align: center;
}

#ourClients h2{
    color: black;
    font-size: 2.5rem;
    margin-top: 2rem;
}

#ourClients h2 span{
    color: #5E9947;
}

#ourClients-containerForImages{
    width: 100vw;
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ourClients-containerForImages img{
    width: 10rem;
    height: 10rem;
    margin: 2rem 3rem;
}




/* Contact us */

#contactUs{
    width: 100vw;
    max-width: 100%;
    min-width: 100%;
    min-height: 50vh;
    display: flex;
}

#contactUs-leftForm{
    background: #5E9947;
    flex: 1;
    min-width: 100%;
    min-height: 100%;
}

#contactUs-rightMap{
    flex: 1;
}


#contactUs-leftForm{
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

#contactUs-leftForm h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

#contactUs-leftForm p{
    font-size: 1.5rem;
}

#contactUs-leftForm label{
    font-size: 1.5rem;
    margin-top: 1rem;
}

#contactUs-leftForm input, #contactUs-leftForm textarea{
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
    padding-left: 0.5rem;
}

#contactUs-leftForm textarea{
    height: 4rem;
}

#contactUs-leftForm input:focus, #contactUs-leftForm textarea:focus{
    outline: none;
}

#contactUs-leftForm button{
    background-color: #585858;
    color: white;
    margin-top: 1.5rem;
    border: none;
    height: 3rem;
    border-radius: 0.3rem;
}




/* Footer */

footer{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #585858;
    font-size: 1.6rem;
}